@import '../../scss/base.scss';

.hero {
  width: 100%;
  @include flex(column, center, center);
  padding: 150px 10%;

  .hero__container {
    position: relative;
    width: 100%;
  }

  .hero__img {
    width: 100%;
  }

  .hero__text {
    position: absolute;
    // Centro el titulo con position absolute y tranform
    top: 50%; 
    transform: translateY(-50%);
    left: 50px;
    z-index: 1;
    @include font($font-l, bold, none);
    color: $color-claro;

    // selecciono el span anidado dentro de la clase
    > span {
      font-weight: 500;
      display: block;
      line-height: 1.5;
    }
  }
}