@import '../../App.scss';

.nav{
  background-color: $color-verde;
  padding: 17px 32px;
  @include flex(row, space-between, center);
}

.nav__list{
  @include flex(row, center, center);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__item{
  list-style-type: none;
  margin-right: 1.2rem;
}

.nav__link {
  color: $color-claro;
  text-decoration: none;
  transition: all 200ms ease-in;
}

.nav__link:hover {
  color: $color-celeste;
}
