@import '../../App.scss';

.nav{
  display: flex;
  margin-left: auto;
}

.nav__list{
  display: flex;
  list-style-type: none;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.nav__item{
  color: $color-font-light;
  list-style-type: none;
  margin-right: 1.2rem;
}

.nav__link {
  color: $color-font-light;
  text-decoration: none;
  transition: all 200ms ease-in;
}

.nav__link:hover {
  color: $color-hover;
}
